<launch>

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="load_driver" value="false" />
  </include>

  <!--<group ns="perception_grp">
    <node pkg="perception_pkg" name="perception" type="perception_server"/>
    <node pkg="perception_client_pkg" name="perception_client" type="perception_client"/>
  </group>-->

  <node pkg="perception_pkg" name="perception" type="perception_server" output="screen"></node>
  <node pkg="perception_client_pkg" name="perception_client" type="perception_client" args="5 10" output="screen"></node>

</launch>
